.header{
		background-color: steelblue;
		border: 1px solid black;
		padding: 5px;
		color: white;
		text-align: center;

}
ul,li{
	padding:5px;
	background-color: green;
	border-color: black;
   width: 100%;
}
