
  :root {
    --title-size: 1.2rem;
    --title-text: #fff;
    --title-background: #09742e;
    --table-heading: rgb(61, 24, 196);
    --text-color: #fff;
    --tr-odd-color:#ff3399 ;
    --tr-even-color: #ff33FF;
    --available-btn-color: red;
    --not-available-btn-color: rgb();
}

.topic_container * {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}

.topic_container {
  max-width: 100vw;
  width: 100%;
  margin-bottom: 1.5em;
}

.topic_container .topic_title {
  padding-block: 0.5em;
  padding-inline: 1em;
  text-align: center;
  background-color: var(--title-background);
  color: var(--title-text);
  font-size: var(--title-size);
}

.topic_table {
  width: 100%;
  margin-block: 0.15em;
  border-style: none;
  overflow-x: scroll;
  border: 0;
}

.topic_head {
  background-color: var(--table-heading);
}

.topic_head tr,
.topic_body tr {
  width: 100%;
}

.topic_body tr:nth-child(even) {
  background-color: var(--tr-even-color);
}

.topic_body tr:nth-child(odd) {
  background-color: var(--tr-odd-color);
}

.topic_head th,
.topic_body td {
  text-align: left;
  padding-block: 1em;
  padding-inline: 1em;
  color: var(--text-color);
  width: 100%;
  border: 0;
}

.topic_head th {
  text-align-last: center;
}

.topic_body td:first-child {
  word-break: break-all;
}

.topic_body td:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.4em;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding-block: 0.35em;
  padding-inline: 0.7em;
  background-color: var(--available-btn-color);
  color: var(--text-color);
  width: 100%;
  text-align: center;
}
.btn:hover{
  background-color: red;
}

.soon,
.soonbtn {
  background-color: var(--not-available-btn-color);
}

.soon {
  padding-block: 0.75em;
  padding-inline: 1em;
  text-align: center;
  color: var(--text-color);
}
